<!DOCTYPE html>
<html>
    <head>
        <title>My info</title>
    </head>
    <body>
        <h1>Relation : Me</h1>
        <h2>Name : {{name}}</h2>
        <h2>Age : {{age}}</h2>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AAbout.me_icon.jpg&psig=AOvVaw3xLQh0DL766ArwAIfZFY7z&ust=1680558347990000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLi7yPCVjP4CFQAAAAAdAAAAABAD" alt = "Reference your image present in the static folder" width = "200"/>
    </body>
</html>