<!DOCTYPE html>
<html>
    <head>
        <title>My Mother info</title>
    </head>
    <body>
        <h1>Relation : Mother</h1>
        <h2>Name : {{name}}</h2>
        <h2>Age : {{age}}</h2>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphoto%2Fi-see-no-good-reason-to-act-my-age-gm517234226-89399567&psig=AOvVaw1sRhJtSXBDWDdPee8CN1k6&ust=1680558033332000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCNCO0tiUjP4CFQAAAAAdAAAAABAD" alt = "Reference your mothers image present in the static folder" width = "200"/>
    </body>
</html>